.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    &__title {
        color: $white-cloud;
        margin: 0;
    }
    &__text {
        color: $white-cloud;
        text-transform: uppercase;
    }
}