$white-color: #fff;
$white-cloud: #F4F7F8;
$black-color: #000315;
$pink-color: #F41052;
$gray-color: #3B3937;
$soft-gray-color: #7C7D85;
$dark-blue-color: #343D7E;
$soft-blue-color: #8097F6;
$vibrant-purple-color: #5911F2;
$soft-purple-color: #993299;